# Pooling Layer

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
# Prepare Data
(X_data, y_data), _ = tf.keras.datasets.mnist.load_data()

X_data = X_data.reshape(60000, 28, 28, 1)
y_data = pd.get_dummies(y_data)
print(X_data.shape, y_data.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28, 1) (60000, 10)

In [3]:
# Making Model
X = tf.keras.layers.Input(shape=(28,28,1))
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [4]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 3)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 8, 8, 6)           456
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 4, 4, 6)           0
_________________________________________________________________
flatten (Flatten)            (None, 96)                0
_________________________________________________________________
dense (Dense)                (None, 84)                8148
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________

In [5]:
# Fitting Model
model.fit(X_data, y_data, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 25s 13ms/step - loss: 2.1610 - accuracy: 0.7497
Epoch 2/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.1456 - accuracy: 0.9591
Epoch 3/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.1085 - accuracy: 0.9688
Epoch 4/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0922 - accuracy: 0.9737
Epoch 5/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0863 - accuracy: 0.9743
Epoch 6/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0805 - accuracy: 0.9762
Epoch 7/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0748 - accuracy: 0.9785
Epoch 8/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0729 - accuracy: 0.9792
Epoch 9/10
1875/1875 [==============================] - 23s 13ms/step - loss: 0.0796 - accuracy: 0.9785
Epoch 10/10
1875/1875 [==============================] - 24s 13ms/step - loss: 0.0744 - accuracy: 0.9788

In [6]:
# Using Model
pred = model.predict(X_data[:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [7]:
y_data[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1