# LeNet 5
<img src="https://camo.githubusercontent.com/060606b76ae0b7bc627c2931d758067ea86857f345bd73f807c680b22a83744e/68747470733a2f2f776f726c64346a61736f6e2e676974626f6f6b732e696f2f72657365617263682d6c6f672f636f6e74656e742f646565704c6561726e696e672f434e4e2f696d672f6c656e65742e706e67">

# Mnist

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
# Prepare Data
(X_data, y_data), _ = tf.keras.datasets.mnist.load_data()

X_data = X_data.reshape(60000, 28, 28, 1)
y_data = pd.get_dummies(y_data)
print(X_data.shape, y_data.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28, 1) (60000, 10)

In [3]:
# Making Model
X = tf.keras.layers.Input(shape=(28,28,1))
H = tf.keras.layers.Conv2D(6, kernel_size=5,padding='same', activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(16, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(120, activation='swish')(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [4]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 28, 28, 6)         156
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 14, 14, 6)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 10, 10, 16)        2416
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 5, 5, 16)          0
_________________________________________________________________
flatten (Flatten)            (None, 400)               0
_________________________________________________________________
dense (Dense)                (None, 120)               48120
_________________________________________________________________
dense_1 (Dense)              (None, 84)                10164
_________________________________________________________________
dense_2 (Dense)              (None, 10)                850
=================================================================
Total params: 61,706
Trainable params: 61,706
Non-trainable params: 0
_________________________________________________________________

In [5]:
# Fitting Model
model.fit(X_data, y_data, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 13s 3ms/step - loss: 0.7435 - accuracy: 0.8612
Epoch 2/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0895 - accuracy: 0.9759
Epoch 3/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0694 - accuracy: 0.9811
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0629 - accuracy: 0.9839
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0586 - accuracy: 0.9854
Epoch 6/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0589 - accuracy: 0.9860
Epoch 7/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0569 - accuracy: 0.9869
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0553 - accuracy: 0.9874
Epoch 9/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0569 - accuracy: 0.9881
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0604 - accuracy: 0.9869

In [6]:
# Using Model
pred = model.predict(X_data[:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [7]:
y_data[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

# Cifar

In [17]:
# Prepare Data
(X_data, y_data), _ = tf.keras.datasets.cifar10.load_data()
y_data = pd.get_dummies(y_data.reshape(50000,))
print(X_data.shape, y_data.shape)

(50000, 32, 32, 3) (50000, 10)

In [18]:
# Making Model
X = tf.keras.layers.Input(shape=(32,32,3))
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(16, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(120, activation='swish')(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [19]:
model.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         [(None, 32, 32, 3)]       0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 30, 30, 32)        896
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 15, 15, 32)        0
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 13, 13, 64)        18496
_________________________________________________________________
max_pooling2d_5 (MaxPooling2 (None, 6, 6, 64)          0
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 4, 4, 64)          36928
_________________________________________________________________
flatten_2 (Flatten)          (None, 1024)              0
_________________________________________________________________
dense_6 (Dense)              (None, 64)                65600
_________________________________________________________________
dense_7 (Dense)              (None, 10)                650
=================================================================
Total params: 122,570
Trainable params: 122,570
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Fitting Model
model.fit(X_data, y_data, epochs=5)

Epoch 1/5
1563/1563 [==============================] - 5s 3ms/step - loss: 1.2926 - accuracy: 0.5786
Epoch 2/5
1563/1563 [==============================] - 5s 3ms/step - loss: 1.3493 - accuracy: 0.5707
Epoch 3/5
1563/1563 [==============================] - 5s 3ms/step - loss: 1.3376 - accuracy: 0.5618
Epoch 4/5
1563/1563 [==============================] - 5s 3ms/step - loss: 1.3558 - accuracy: 0.5587
Epoch 5/5
1563/1563 [==============================] - 5s 4ms/step - loss: 1.3256 - accuracy: 0.5651

In [28]:
# Using Model
pred = model.predict(X_data[:5])
pd.DataFrame(pred).round(2)

      0    1     2     3     4     5     6     7     8     9
0  0.01  0.0  0.19  0.26  0.08  0.12  0.29  0.03  0.01  0.02
1  0.00  0.0  0.00  0.00  0.00  0.00  0.00  0.00  0.00  1.00
2  0.19  0.1  0.05  0.05  0.03  0.03  0.01  0.03  0.43  0.07
3  0.03  0.0  0.14  0.10  0.44  0.06  0.15  0.03  0.04  0.01
4  0.00  1.0  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00

In [29]:
y_data[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  1  0  0  0
1  0  0  0  0  0  0  0  0  0  1
2  0  0  0  0  0  0  0  0  0  1
3  0  0  0  0  1  0  0  0  0  0
4  0  1  0  0  0  0  0  0  0  0