1. Preparing Past data

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv"
data = pd.read_csv(url)
data.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
features = data.columns.difference(['medv'])
X_data = data[features]
y_data = data[['medv']]
print(X_data.shape, y_data.shape)

(506, 13) (506, 1)

In [ ]:
X_data.head()

    age       b  chas     crim     dis  ...  ptratio  rad     rm  tax    zn
0  65.2  396.90     0  0.00632  4.0900  ...     15.3    1  6.575  296  18.0
1  78.9  396.90     0  0.02731  4.9671  ...     17.8    2  6.421  242   0.0
2  61.1  392.83     0  0.02729  4.9671  ...     17.8    2  7.185  242   0.0
3  45.8  394.63     0  0.03237  6.0622  ...     18.7    3  6.998  222   0.0
4  54.2  396.90     0  0.06905  6.0622  ...     18.7    3  7.147  222   0.0

[5 rows x 13 columns]

In [ ]:
y_data.head()

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

2. Make Structure

In [ ]:
import tensorflow as tf
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

3. Fit Model using Data

In [ ]:
model.fit(X_data, y_data, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 25.5195
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 25.7659
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 25.7039
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 25.7962
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 25.9110
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 25.4052
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 25.5259
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 25.3385
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 26.1256
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 25.8595

4. Use Model

In [ ]:
model.predict(X_data[0:5])

array([[28.668764],
       [23.769947],
       [29.662527],
       [28.921402],
       [28.306183]], dtype=float32)

In [ ]:
y_data[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [ ]:
model.get_weights()

[array([[ 0.00790632],
        [ 0.01370778],
        [ 3.3145533 ],
        [-0.08682688],
        [-0.9624144 ],
        [-0.06318609],
        [-0.5601807 ],
        [ 2.521454  ],
        [-0.05452976],
        [ 0.15223874],
        [ 4.2232714 ],
        [-0.01021493],
        [ 0.07073437]], dtype=float32), array([2.8930535], dtype=float32)]