1. Check Feature Type
  
  - data.dtype

2. Change Feature to Categroical
  
  - data['column'].astype('category')

3. Change Feature to Integer
  
  - data['column'].astype('int')
  - data['column'].astype('float')

4. Change NA(None)

  - Check NA: data.isna().sum()
  - Fill NA: data['column'].fillna(num)

In [1]:
import pandas as pd

In [4]:
url = "https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv"
data = pd.read_csv(url)
data.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [6]:
# one-hot encoding
encoding = pd.get_dummies(data)
encoding.head()
# since 품종 is int type, we cannot do one-hot encoding

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [7]:
# Check features type
data.dtypes

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [10]:
# Change features to Category
data['품종'] = data['품종'].astype('category')
data.dtypes

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [11]:
# one-hot encoding
encoding = pd.get_dummies(data)
encoding.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_0  품종_1  품종_2
0   5.1  3.5    1.4   0.2     1     0     0
1   4.9  3.0    1.4   0.2     1     0     0
2   4.7  3.2    1.3   0.2     1     0     0
3   4.6  3.1    1.5   0.2     1     0     0
4   5.0  3.6    1.4   0.2     1     0     0

In [12]:
# Check NA
data.isna().sum()

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [13]:
data.tail()

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.0    5.2   2.3  2
146   6.3  2.5    5.0   1.9  2
147   6.5  3.0    5.2   2.0  2
148   6.2  3.4    5.4   2.3  2
149   5.9  NaN    5.1   1.8  2

In [15]:
# Fill NA using 꽃잎폭's mean value
mean = data['꽃잎폭'].mean()
data['꽃잎폭'] = data['꽃잎폭'].fillna(mean)
data.tail()

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.000000    5.2   2.3  2
146   6.3  2.500000    5.0   1.9  2
147   6.5  3.000000    5.2   2.0  2
148   6.2  3.400000    5.4   2.3  2
149   5.9  3.054362    5.1   1.8  2