# Image Modeling using Flatten Layer

In [29]:
import tensorflow as tf
import pandas as pd

# Using reshpae Function

In [30]:
# Preparing Data
(X_data, y_data), _ = tf.keras.datasets.mnist.load_data()
print(X_data.shape, y_data.shape)

# Reshaping Data
X_data = X_data.reshape(60000, 784)
y_data = pd.get_dummies(y_data)
print(X_data.shape, y_data.shape)

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [31]:
# Creating Model
X = tf.keras.layers.Input(shape=(784))
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [32]:
# Fitting Model
model.fit(X_data, y_data, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 5s 2ms/step - loss: 7.3291 - accuracy: 0.8119
Epoch 2/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5412 - accuracy: 0.9124
Epoch 3/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4419 - accuracy: 0.9317
Epoch 4/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4011 - accuracy: 0.9383
Epoch 5/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3699 - accuracy: 0.9437

In [33]:
# Use Model
pred = model.predict(X_data[:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [34]:
y_data[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

# Using flatten Function

In [40]:
# Preparing Data
(X_data, y_data), _ = tf.keras.datasets.mnist.load_data()
print(X_data.shape, y_data.shape)

# Reshaping Data
y_data = pd.get_dummies(y_data)

(60000, 28, 28) (60000,)

In [41]:
# Creating Model
X = tf.keras.layers.Input(shape=[28, 28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [43]:
# Fitting Model
model.fit(X_data, y_data, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5400 - accuracy: 0.9172
Epoch 2/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4634 - accuracy: 0.9279
Epoch 3/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4396 - accuracy: 0.9329
Epoch 4/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4146 - accuracy: 0.9386
Epoch 5/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4033 - accuracy: 0.9416

In [44]:
# Use Model
pred = model.predict(X_data[:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [45]:
y_data[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1