# Convolution Layer

In [1]:
import tensorflow as tf
import pandas as pd

In [8]:
# Prepare Data
(X_data, y_data), _ = tf.keras.datasets.mnist.load_data()

X_data = X_data.reshape(60000, 28, 28, 1)
y_data = pd.get_dummies(y_data)
print(X_data.shape, y_data.shape)

(60000, 28, 28, 1) (60000, 10)

In [9]:
# Making Model
X = tf.keras.layers.Input(shape=(28,28,1))
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [13]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten (Flatten)            (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 84)                201684
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Fitting Model
model.fit(X_data, y_data, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 13s 3ms/step - loss: 2.8475 - accuracy: 0.8713
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0771 - accuracy: 0.9802
Epoch 3/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0488 - accuracy: 0.9865
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0387 - accuracy: 0.9902
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0327 - accuracy: 0.9919
Epoch 6/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0229 - accuracy: 0.9941
Epoch 7/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0219 - accuracy: 0.9938
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0193 - accuracy: 0.9946
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0158 - accuracy: 0.9954
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0170 - accuracy: 0.9956

In [11]:
# Using Model
pred = model.predict(X_data[:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [12]:
y_data[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1